extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Jennifer Nordell

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer | Treehouse Moderator & "Slack Champion"|
          | Blogger | Lifelong learner

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I have spent a couple of years learning how to code simply because I was curious.
            | During my first year of study, I made amazing progress in my learning even by others' standards.
            | You can find an interview that Treehouse did with me 
            a(href="http://blog.teamtreehouse.com/98k-points-counting-jennifer-nordells-coding-story") here. 
            | During that time, I have learned much and polished pre-existing skills. 
            | These include, but are not limited to, the following:
            ul
              li debugging techniques
              li effective communication
              li drawing analogies and parallels to explain difficult concepts
              li developing sort of a "hawk eye" to spot minor errors

            | The time has come to turn the acquisition of knowledge into the application of knowledge. Let's do this!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li HTML
          li CSS
          li SQL
          li PHP 
          li WordPress
          li Node.js
          li jQuery
          li Express
          li Sass
          li Python
          li Swift
        h6 Contact Info

        //- Add your own contact info
        ul
          li +46 070-281 0406
          li 
            a(href="mailto:jennifer.nordell@outlook.com") jennifer.nordell@outlook.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://linkedin.com/in/jnordell') LinkedIn
        a.button.expanded(href='https://github.com/j-nordell') GitHub
        a.button.expanded(href='https://twitter.com/jcnordell') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  