<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet")
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='stylesheet', href='/static/css/my-style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='/static/images/me.jpg')
          .cell.auto
            h5 Jennifer Nordell
            p.text-light
              | I simply love to code and help others. In fact, I'm probably busy right now either working, coding, or helping others learn to code. To date, I've answered almost 4000 programming questions on a public-facing forum.
            a(href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')
          span.title-bar-title Jennifer Nordell
      block content
        

      
  script(src='/static/js/vendor/jquery.js' type="application/x-javascript")
  script(src='/static/js/vendor/what-input.js' type="application/x-javascript")
  script(src='/static/js/vendor/foundation.js' type="application/x-javascript")
  script(src='/static/js/scripts.js' type="application/x-javascript")
